<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GRNLR (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GRNLR (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GRNLR (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GRNLR (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0805C8913F22916AFF2AF230</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>645EAAFD5C214C2F49FF4BAD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>891FAA5EE6F912947A78EBC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C35FBB735D4E4B769E34BA8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
