<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GRRNLRR (AU).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GRRNLRR (All).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>GRRNLRR (Shared Code).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GRRNLRR (VST).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>12159F588FA5B23DF671C82A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9F332CB3D8CB1CD66F4D6932</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A677C00D3CD57566B43C01F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C026CA8D746BBD89861E8286</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
