<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioComponents</key>
	<array>
		<dict>
			<key>description</key>
			<string>GRRNLRR</string>
			<key>factoryFunction</key>
			<string>GRRNLRRAUFactory</string>
			<key>manufacturer</key>
			<string>RaSy</string>
			<key>name</key>
			<string>Raffael Seyfried: GRRNLRR</string>
			<key>subtype</key>
			<string>Grnl</string>
			<key>type</key>
			<string>aumu</string>
			<key>version</key>
			<integer>65536</integer>
		</dict>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>17G65</string>
	<key>CFBundleDisplayName</key>
	<string>GRRNLRR</string>
	<key>CFBundleExecutable</key>
	<string>GRRNLRR</string>
	<key>CFBundleIdentifier</key>
	<string>com.rasy.grrnlrr</string>
	<key>CFBundleName</key>
	<string>GRRNLRR</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>8C1002</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>16C58</string>
	<key>DTSDKName</key>
	<string>macosx10.12</string>
	<key>DTXcode</key>
	<string>0821</string>
	<key>DTXcodeBuild</key>
	<string>8C1002</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string></string>
</dict>
</plist>
